$inovaki-yellow: #ffde17;
$inovaki-dark: #111111;
$inovaki-grey: #484848;

$text-dark: #000000;
$text-white: #ffffff;

$background-color: #f5f5f5;

.yellow{
  color: $inovaki-yellow;
}

.dark{
  color: $inovaki-dark;
}

.grey{
  color: $inovaki-grey;
}