.container{
  max-width: 100%;
  padding: 1rem 1.5rem;
}

.container-dark{
  @extend .container;
  background-color: $container-dark
}

.container-white{
  @extend .container;
  background-color: $container-white
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.center{
  align-items: center;
  justify-content: center;
}