@media(min-width: 620px){
}

@media(min-width: 1140px){
  .container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 3rem 0;
  }

  .container-white{
    padding: 2rem;
    margin: 3rem auto;
  }

  .top{
    border-bottom-right-radius: 200%;
    border-bottom-left-radius: 200%;
    max-width: 1140px;
    margin: 0 auto;
  }

  #logo{
    margin-top: 2rem;
  }

  .title{
    font-size: 3.5rem;
    font-weight: 700;
  }
  
  .subtitle{
    font-size: 2rem;
  }

  .services-area{
    max-width: 1140px;
    margin: 0 auto;
    border-bottom-left-radius: 2rem;

    .services{
      justify-content: center;
    }
  }

  .stacks{ 
    justify-content: space-evenly;
    padding: 2rem;
    a{
      width: 5rem;
      img{
        transition: 0.4s transform;
        &:hover{
          transform: scale(1.3);
          filter: drop-shadow(2px 2px);
        }
      }
    }
  }

  .partners{
    .partners-grid{
      grid-template-columns: 1fr 1fr 1fr 1fr
    }
  }
}