#logo{
  z-index: 3;
  position: relative;
  margin: 0 auto;
  width: 20rem;
}

.header-banner-bg{
  position: absolute;
  top: calc(-55rem - 50vw);
  left: calc(35rem - 10vw);
  border-radius: 10rem;
  width: 100vw;
  height: 100rem;
  background: #ffde17;
  display: block !important;
  transform: rotate(66deg);
  z-index: 2;
}

.introduction{
  >h1{
    margin-top: 6rem;
  }
  >.text{
    margin-top: -1rem;
    margin-bottom: 2rem;
  }
}

.who-we-are{
  h2{
    color: $text-white;
  }
  strong{
    color: $inovaki-yellow;
  }
  .cards{
    padding: 1rem;
  }
}

.cases{
  overflow: hidden;
}

.contacts {
  a{
    display: block;
    text-decoration: none;
    color: $text-dark;
  }
}

.social-media {
  margin: 2rem 0;
  gap: 1rem;

  a{
    opacity: 0.3;
    transition: 0.5s;
  }

  a:hover{
    opacity: 1;
  }
}

form {
  p{
    margin: 1.5rem 0;
  }
}

.formulario {
  flex-direction: column;
  gap: 1rem;
  
  input, select, textarea{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.4rem;
  }

  textarea {
    resize: none;
  }
}

.partners-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 3rem;
  justify-content: center;

  a{
    filter: grayscale(100);
    transition: 0.2s transform;
    &:hover{
      transform: scale(1.1);
    }
  }
}