@import '../colors/colors.scss';

.top{
  height: 10rem;
  overflow: hidden;
  background-color: $inovaki-yellow;
  border-bottom-right-radius: 100% 200%;
  border-bottom-left-radius: 200%;
}

#logo{
  z-index: 3;
  position: relative;
  margin: 0 auto;
  width: 18rem;
  margin-top: 1rem;
}

.introduction{
  >.text{
    margin-top: -1rem;
    margin-bottom: 2rem;
  }
}

.who-we-are{
  padding: 0;
  h2{
    color: $text-white;
  }
  strong{
    color: $inovaki-yellow;
  }
  .cards{
    padding: 3rem 2rem;
  }
}

.cases{
  --swiper-theme-color: #000;
  overflow: hidden;

  position: relative;
  .swiper-button-prev, 
  .swiper-button-next {
    color: #000;
    height: 1rem;
    margin-top: -6.2rem;

    &::after{
      font-size: 1.5rem;
      font-weight: 900;
    }
  }
}

.services{
  align-content: space-around;
  align-items: center;
  gap: 1rem;
  background-color: $inovaki-yellow;

  height: 9rem;
  padding: 1.5rem 1rem;


  h2{
    text-align: justify;
    margin-bottom: 0.5rem;
    color: $inovaki-grey;
    font-weight: 700;
  }

  p{
    text-align: justify;
    font-size: 0.9rem;
    color: $inovaki-dark;
    opacity: 0.7;
  }

  img{
    width: 25%;
  }
}

.vtex{
  border-top: solid 1px #ccc;

  img{
    max-width: 50%;
    margin: 0 auto;
    filter: grayscale(0.5);
  }

  h1{
    &:last-of-type{
      margin-top: 2rem;
    }
  }
}

.contacts {
  a{
    display: block;
    text-decoration: none;
    color: $text-dark;
  }
}

.social-media {
  margin: 2rem 0;
  gap: 1rem;

  a{
    opacity: 0.3;
    transition: 0.5s;
  }

  a:hover{
    opacity: 1;
  }
}

form {
  p{
    margin: 1.5rem 0;
  }
}

.formulario {
  flex-direction: column;
  gap: 1rem;
  
  input, select, textarea, option{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.4rem;
    background-color: $background-color;
    color: $inovaki-grey;
    text-decoration: none;

    &:focus{
      outline: none;
      border: solid 2px $inovaki-yellow;
    }

    &::placeholder{
      color: #ccc;
    }
  }

  textarea {
    resize: none;
  }
}

.partners-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 3rem;
  justify-content: center;

  a{
    filter: grayscale(100);
    transition: 0.2s transform;
    &:hover{
      transform: scale(1.1);
      filter: none;
    }
  }
}