.title{
  font-size: 2.2rem;
  color: $inovaki-grey;
  font-weight: 700;
  margin-bottom: 3rem;
}

.subtitle{
  color: $inovaki-yellow;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
}

.text{
  text-align: justify;
  line-height: 1.5rem;
}

.text-dark{
  color: $text-dark;
}

.text-white{
  color: $text-white;
}