.title{
  font-size: 3rem;
  color: $inovaki-grey;
  font-weight: 700;
  margin: 1rem 0;
}

.subtitle{
  color: $inovaki-yellow;
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.text-dark{
  color: $text-dark;
}

.text-white{
  color: $text-white;
}